.header {
    background: transparent;
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 3.75rem 6.25rem 1.875rem;
    transition: all .5s ease-in-out;
    height: 10rem;
    overflow: hidden;

    &.scrollDown {
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
    }

    &.scrollUp {
        background-color: #fff;
        box-shadow: 0 6px 60px 0 rgba(0, 0, 0, .04);

        .header-wrapper {

            .header-logo{

                a {

                    svg{
                        fill: #000;
                    }
                }
            }

            .header-lists {

                .header-list {

                    .main-menu {

                        .menu-item {

                            a {
                                color: #453D43;

                                svg {
                                    stroke: #453D43;
                                }
                            }

                            &:not(.contact-lang) {

                                a {

                                    svg {
                                        transition: all .3s ease-in-out;
                                    }
                                }
                            }

                            &.menu-item-active {

                                a {
                                    color: #A68B5C;

                                    svg {
                                        stroke: #A68B5C;
                                        transform: rotate(180deg);
                                        //transition: all .3s ease-in-out;
                                    }
                                }
                            }

                            &.contact-lang {

                                .contact-link {

                                    &:hover {
                                        color: #A68B5C;

                                        svg {
                                            fill: #A68B5C;
                                            stroke: #A68B5C;
                                        }
                                    }
                                }

                                .lang-links {

                                    a {

                                        &:hover {
                                            color: #A68B5C;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &:has(.sub-menu.sub-menu-active) {
        height: 25.5rem;
    }

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-logo {

            a {
                svg {
                    fill: #fff;
                }
            }
        }

        .header-lists {
            font-family: 'Space Grotesk', Times, serif;
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 1.435rem;

            .header-list {

                .main-menu {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    column-gap: 2.5rem;
                    align-items: center;

                    .menu-item {
                        
                        a {
                            text-decoration: none;
                            color: #fff;

                            svg {
                                margin: 0 0 .125rem .625rem;
                                stroke: #fff;
                            }
                        }

                        &.contact-lang {
                            display: flex;
                            align-items: center;
                            column-gap: 3.75rem;

                            .contact-link {
                                padding: 1.406rem 2rem;
                                border: .06rem solid;
                                border-radius: 3rem;

                                .contact-us-span {
                                    margin-left: .625rem;
                                    overflow: hidden;

                                    .contact-us-arrow {
                                        margin: 0 0 -0.125rem;
                                        fill: #fff;
    
                                        &.on-mouse-in {
                                            animation-name: animateArrow;
                                            animation-duration: .3s;
                                            animation-iteration-count: 1;
    
                                        }
    
                                        @keyframes animateArrow {
                                            0% {
                                                transform: translateX(0);
                                            }
                                            50% {
                                                transform: translateX(60%);
                                            }
                                            51% {
                                                transform: translateX(-60%);
                                            }
                                            100% {
                                                transform: translateX(0);
                                            }
                                        }
    
                                        &.on-mouse-out {
                                            animation-name: reverseAnimateArrow;
                                            animation-duration: .3s;
                                            animation-iteration-count: 1;
                                        }
    
                                        @keyframes reverseAnimateArrow {
                                            0% {
                                                transform: translateX(0);
                                            }
                                            50% {
                                                transform: translateX(-60%);
                                            }
                                            51% {
                                                transform: translateX(60%);
                                            }
                                            100% {
                                                transform: translateX(0);
                                            }
                                        }
    
                                    }
                                }

                            }

                            .lang-links {

                                .eng-lang-link {
                                    margin-right: 1.25rem;
                                }
                            }
                        }
                    }
                }
            }

            .sub-menu {
                position: relative;
                opacity: 0;
                transition: all .3s ease-in-out;

                &.sub-menu-active {
                    opacity: 1;
                }

                .sub-menu-lists {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    display: flex;
                    margin: 4.063rem 0 0;

                    .sub-menu-list {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        // display: none;
                        // position: relative;
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        transition: all 0.3s ease-in-out;
                        z-index: 11;
                        visibility: hidden;

                        &.sub-menu-list-active {
                            // display: block;
                            opacity: 1;
                            transition: all 0.3s ease-in-out;
                            z-index: 12;
                            visibility: visible;
                        }

                        .sub-menu-link {
                            border-bottom: .06rem solid #453D43;
                            padding: 0 0 1.25rem 0;
                            min-width: 13.5rem;
                            // margin: 0 0 1.25rem;
                            transition: all .3s ease-in-out;
                            position: relative;

                            &:not(:last-of-type){
                                margin: 0 0 1.25rem;
                            }

                            a {
                                text-decoration: none;
                                color: #453D43;
                                font-family: 'Space Grotesk', Times, serif;
                                font-weight: 500;
                                font-size: 1.125rem;
                                line-height: 1.436rem;
                                cursor: pointer;

                                .side-dropdown-arrow {
                                    margin: 0 0 -.4rem .625rem;
                                    stroke: #453D43;
                                }
                            }


                            
                            &::after {
                                content: "";
                                background-color: #A68B5C;
                                position: absolute;
                                height: .06rem;
                                width: 0;
                                left: 0;
                                bottom: -.06rem;
                                transition: all .3s ease-in-out;
                            }

                            &:hover {
                                // border-color: #A68B5C;

                                a {
                                    color: #A68B5C;

                                    .side-dropdown-arrow {
                                        stroke: #A68B5C;
                                    }
                                }

                                &::after {
                                    width: 100%;
                                }

                            }
                        }

                        .sol-dropdown {
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            position: absolute;
                            left: 112%;
                            bottom: 0;
                            min-width: 9.8125rem;
                            opacity: 0;
                            transition: all .3s ease-in-out;

                            &.sol-dropdown-active {
                                opacity: 1;
                            }

                            .sol-dropdown-item {
                                border-bottom: 0.06rem solid #453D43;
                                padding: .5rem 0 .5rem 0;
                                transition: all 0.3s ease-in-out;
                                position: relative;
                                line-height: 1.436rem;

                                a {
                                    color: #453D43;
                                    text-decoration: none;

                                    .overview {
                                        stroke: #453D43;
                                        margin: 0 0 -.3125rem .625rem;
                                    }
                                }

                                &::after {
                                    content: "";
                                    background-color: #A68B5C;
                                    position: absolute;
                                    height: .06rem;
                                    width: 0;
                                    left: 0;
                                    bottom: -.06rem;
                                    transition: all .3s ease-in-out;
                                }

                                &:hover {

                                    a {
                                        color: #A68B5C;

                                        .overview {
                                            stroke: #A68B5C;
                                        }
                                    }

                                    &::after {
                                        width: 100%;
                                    }
                                }
                                 
                            }
                        }
                    }

                    .pattern-bg {
                        position: absolute;
                        top: 0;
                        right: 7.813rem;
                        // display: none;
                        opacity: 0;
                        transition: all .3s ease-in-out;

                        &.pattern-bg-active {
                            // display: block;
                            opacity: 1;
                        }
                    }

                    .cross-icon {
                        position: absolute;
                        top: 0;
                        right: 0;
                        border: .06rem solid #A68B5C;
                        border-radius: 4rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &:hover {
        background-color: #fff;

        .header-wrapper {

            .header-logo{

                a {

                    svg{
                        fill: #000;
                    }
                }
            }

            .header-lists {

                .header-list {

                    .main-menu {

                        .menu-item {

                            a {
                                color: #453D43;

                                svg {
                                    stroke: #453D43;
                                }
                            }

                            &:not(.contact-lang) {

                                a {

                                    svg {
                                        transition: all .3s ease-in-out;
                                    }
                                }
                            }

                            &.menu-item-active {

                                a {
                                    color: #A68B5C;

                                    svg {
                                        stroke: #A68B5C;
                                        transform: rotate(180deg);
                                        //transition: all .3s ease-in-out;
                                    }
                                }
                            }

                            &.contact-lang {

                                .contact-link {

                                    &:hover {
                                        color: #A68B5C;

                                        svg {
                                            stroke: #A68B5C;
                                        }
                                    }

                                    .contact-us-arrow {
                                        fill: #453D43;
                                        stroke: #453D43;
                                    }
                                }

                                .lang-links {

                                    a {

                                        &:hover {
                                            color: #A68B5C;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}