.intro {
    padding: 10rem 6.25rem;

    .upper-sec {
        margin-bottom: 10rem;
        display: flex;
        justify-content: space-between;

        .title-sec {
            width: 48%;
            border-top: .06rem solid #A68B5C;

            .small-heading {
                color: #A68B5C;
                font-family: 'Space Grotesk', Times, serif;
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 1.914rem;
                margin: 2.5rem 0;
            }

            .big-heading {
                font-family: 'Space Grotesk', Times, serif;
                font-weight: 700;
                font-size: 3.375rem;
                line-height: 4.306rem;
            }
        }

        .description-sec {
            width: 48%;

            .description {
                color: #453D43;
                font-family: 'Varela', Times, serif;
                font-weight: 400;
                font-size: 1.25rem;
                line-height: 1.875rem;
                margin: 0 0 3.75rem;
            }

            .explore-link {
                color: #A68B5C;
                text-decoration: none;
                padding: 1.406rem 2rem;
                border: .06rem solid;
                border-radius: 3rem;
                font-family: 'Space Grotesk', Times, serif;
                font-weight: 500;
                font-size: 1.125rem;
                line-height: 1.436rem;

                .explore-link-span{
                    margin-left: .625rem;
                    overflow: hidden;

                    .explore-link-arrow {
                        margin-bottom: -.125rem;
                        fill: #A68B5C;
                    }
                }
            }
        }
    }

    .lower-sec {
        display: flex;
        justify-content: space-between;

        .content {
            flex: 1;
            text-align: center;
            
            &:not(:last-of-type) {
                border-right: .06rem solid #A68B5C;
            }

            .content-heading {
                color: #A68B5C;
                font-family: 'Space Grotesk', Times, serif;
                font-weight: 700;
                font-size: 5.625rem;
                line-height: 7.178rem;
                margin: 0 0 1.25rem;
            }

            .content-description {
                font-family:'Varela', Times, serif;
                font-weight: 400;
                font-size: 2rem;
                line-height: 2.625rem;
                margin: 0;
                padding: 0 5rem;
            }
        }
    }
}