.slider {
   padding: 10rem 6.25rem 11.875rem;
   background-color: #9A9194;
   color: #fff;

   .upper-sec {
    margin-bottom: 7.5rem;
    display: flex;
    justify-content: space-between;

        .title-sec {
            width: 48%;
            border-top: .06rem solid;

            .small-heading {
                font-family: 'Space Grotesk', Times, serif;
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 1.914rem;
                margin: 2.5rem 0;
            }

            .big-heading {
                font-family: 'Space Grotesk', Times, serif;
                font-weight: 700;
                font-size: 3.375rem;
                line-height: 4.306rem;
            }
        }

        .description-sec {
            width: 48%;

            .description {
                font-family: 'Varela', Times, serif;
                font-weight: 400;
                font-size: 1.25rem;
                line-height: 1.875rem;
                margin: 0 0 3.75rem;
            }

            .explore-link {
                text-decoration: none;
                color: #fff;
                padding: 1.406rem 2rem;
                border: .06rem solid;
                border-radius: 3rem;
                font-family: 'Space Grotesk', Times, serif;
                font-weight: 500;
                font-size: 1.125rem;
                line-height: 1.436rem;

                .explore-link-span{
                    margin-left: .625rem;
                    overflow: hidden;

                    .explore-link-arrow {
                        margin-bottom: -.125rem;
                        fill: #fff;

                        &.on-mouse-in {
                            animation-name: animateArrow;
                            animation-duration: .3s;
                            animation-iteration-count: 1;

                        }

                        @keyframes animateArrow {
                            0% {
                                transform: translateX(0);
                            }
                            50% {
                                transform: translateX(60%);
                            }
                            51% {
                                transform: translateX(-60%);
                            }
                            100% {
                                transform: translateX(0);
                            }
                        }

                        &.on-mouse-out {
                            animation-name: reverseAnimateArrow;
                            animation-duration: .3s;
                            animation-iteration-count: 1;
                        }

                        @keyframes reverseAnimateArrow {
                            0% {
                                transform: translateX(0);
                            }
                            50% {
                                transform: translateX(-60%);
                            }
                            51% {
                                transform: translateX(60%);
                            }
                            100% {
                                transform: translateX(0);
                            }
                        }
                    }
                }
            }
        }
    }

    .slider-sec {
        // position: relative;
        display: flex;
        column-gap: 5rem;

        .swiper {
             
            &:not(.swiper-thumbs ){
                width: 60%;
                
                .swiper-slide{
                    margin-bottom: 9.375rem;
        
                    .slider-img {
                        // width: 60%;
                        // margin-left: 40%;
                        max-height: 39.206rem;
                    }
                }

                .swiper-button-prev {
                    top: unset;
                    bottom: 0;
                    right: 4.5rem;
                    left: unset;
                    width: 3.75rem;
                    height: 3.75rem;
                    border: .06rem solid #fff;
                    border-radius: 50%;

                    &::after {
                        content: url('../../assets/images/prev_arrow_svg.svg');
                        margin-bottom: 1.15rem;
                    }
                }

                .swiper-button-next {
                    right: 0;
                    bottom: 0;
                    top: unset;
                    width: 3.75rem;
                    height: 3.75rem;
                    border: .06rem solid #fff;
                    border-radius: 50%;

                    &::after {
                        content: url('../../assets/images/next_arrow_svg.svg');
                        margin-bottom: 1.15rem;
                    }
                }

                .swiper-pagination {
                    top: unset;
                    bottom: 0px;
                    max-width: 51.25rem;
                    left: 50%;
                    transform: translateX(-50%);
                    background: none;
                    border-top: .06rem solid #F2E8D9;

                    .swiper-pagination-progressbar-fill {
                        height: 0.25rem;
                        background: #E0D4BC;
                        top: unset;
                        bottom: 0.11rem;
                    }
                }
            }
        }
        
        
        .swiper-thumbs {
            // position: absolute;
            // width: 32.5rem;
            // top: 10rem;
            // left: 5rem;
            width: 40%;
            padding-top: 13.313rem;

            .slide-heading {
                font-family: 'Inter', Times, serif;
                font-weight: 700;
                font-size: 2.5rem;
                line-height: 3.026rem;
                margin: 0 0 2.5rem 0;
            }

            .slide-description {
                font-family: 'Inter', Times, serif;
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 1.816rem;
                margin: 0;
            }
        }

    }
}